# 📌 Игнорируем виртуальное окружение
venv/
__pycache__/

# 📌 Игнорируем базы данных SQLite
db.sqlite3
*.sqlite3

# 📌 Игнорируем файлы настроек
.env
*.log

# 📌 Игнорируем статику Django
staticfiles/
media/
